@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-buttons{
    margin-left: 30%;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.5rem;
    font-weight: 800;
}
h4{
    font-size: 1.2rem;
    font-weight: 600;
}
h2{
    font-size: 1rem;
    font-weight: 400;
}
h6{
    color: #d8d8d8;
}
.white{
    color: white;
}
.navbar{
    font-size: 20px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.navbar-dark .navbar-nav .nav-link{
    padding: 0 20px;
    color: white;
    transition: 0.4s ease;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-dark .navbar-nav .nav-link:active
.navbar i:hover{
    color: #6c757d;
}
@media only screen and (max-width:990px){
    .nav-buttons{
        margin: 10px;
    }
    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }
    .nav-buttons ul .fa{
        margin: 20px 5px 10px 20px;
    }
}

/* Home */

#home{
    margin-top: -30px;
    width: 100vw;
    height: 100vh;
    background-image: url("../imgs/homebg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 0px;
    background-position-y: 78px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home .content{
    padding-top: 10px;
}
#home .content p{
    margin-top: 155px;
    padding-left: 70px;
    font-size: 24px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 230;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
#home .content h1{
    padding-left: 70px;
    margin-top: 15px;
    font-size: 55px;
    color: white;
    font-family: "Kadwa", serif;
    font-weight: 400;
    font-style: normal;
}
#home .content h3{
    padding-left: 70px;
    margin-top: 10px;
    font-size: 30px;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 230;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
#btn-explore{
    margin-left: 114px;
    margin-top: 90px;
    width: 212px;
    height: 72px;
    border-radius: 20px;
    border: #2f2511 solid;
    background-color: #111111;
    color: white;
    font-size: large;
    cursor: pointer;
}


/* About Us */
#aboutus{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    padding: 3% 0;
}
#aboutus .container{
    padding-top: 70px;
}
#aboutus p, #aboutus h3{
    color: white;
}
#aboutus h2{
    position: relative;
    font-size: 5vw;
    color: black;
    -webkit-text-stroke: 0.1vw gray;
    text-transform: uppercase;
}
#aboutus h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    -webkit-text-stroke: #000000;
    border-right: 2px solid white;
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    70%, 90%{
        width: 50%;
    }
}
#aboutus .card{
    border-radius: 10px;
}
#aboutus .card img{
    border-radius: 10px;
    background-color: #111111;
    border-color: #111111;
}
#btn-aboutus{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
#btn-aboutus:hover{
    background-color: white;
    color: black;
}
@media screen and (max-width:1920px){
    #aboutus p{
        font-size: 22px;
        font-family: "Kadwa", serif;
    }
}
@media screen and (max-width:1699px){
    #aboutus p{
        font-size: 15px;
        font-family: "Kadwa", serif;
    }
}

/* Categories */
#categories .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#categories .one{
    position: relative;
}
#categories .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.8;
    background-color:#343a40;
    width: 100%;
    height: 100%;
}
#categories .one .details:hover{
    background-color: #212529;
}
#categories h2{
    font-size: 50px !important;
}
#categories h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
    padding: 3%;
}
#categories .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#categories .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#categories .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Featured */
#featured{
    width: 100%;
    height: 100vh;
    padding: 5% 0;
}
#featured .prod-cat{
    display: flex;
    justify-content: center;
}
#featured h3{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
}
#featured .all-prod{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#featured .prod{
    overflow: hidden;
    background: #ffffff;
    color: #21201e;
    text-align: center;
    width: 340px;
    height: 425px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
}
.prod-title{
    font-size: 25px;
    font-weight: bold;
}
.prod-price{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
}
.prod:hover img{
    scale: 1.1;
}
.prod:hover{
    box-shadow: 5px 15px 25px #eeeeee;
}
.prod img{
    width: 300px;
    height: 250px;
    margin: 1rem;
    border: 1px solid #a7a6a6;
    border-radius: 10px;
    transition: all 0.3s;
}
.prod a:link, .prod a:visited{
    width: 280px;
    color: #ececec;
    display: inline-block;
    text-decoration: none;
    background-color: #212529;
    padding: 1.2rem 3rem;
    transition: all 0.2s;
    border-radius: 5px;
}
.prod a:hover{
    transform: scale(1.1);
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 20px;
}
.icon-button img {
    width: 50px;
    height: auto;
}

/* Banner */
#banner{
    background-image: url("../imgs/banner.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-y: 80px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Products */
#accordionSidebar{
    background-color: #000000;
}
#products{
    width: 100%;
    height: 150vh;
    padding: 5% 0;
}
#products .prod-cat{
    display: flex;
    justify-content: center;
}
#products h1{
    margin-top: 10px;
    justify-content: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
}
#products h2{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
}
#products .all-prod{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#products .prod{
    overflow: hidden;
    background: #ffffff;
    color: #21201e;
    text-align: center;
    width: 340px;
    height: 425px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.2rem;
    margin: 2rem;
}
.prod-title{
    font-size: 25px;
    font-weight: bold;
}
.prod-price{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px;
}
.prod:hover img{
    scale: 1.1;
}
.prod:hover{
    box-shadow: 5px 15px 25px #eeeeee;
}
.prod img{
    width: 300px;
    height: 250px;
    margin: 1rem;
    border: 1px solid #a7a6a6;
    border-radius: 10px;
    transition: all 0.3s;
}
.prod a:link, .prod a:visited{
    width: 280px;
    color: #ececec;
    display: inline-block;
    text-decoration: none;
    background-color: #212529;
    padding: 1.2rem 3rem;
    transition: all 0.2s;
    border-radius: 5px;
}
.prod a:hover{
    transform: scale(1.1);
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.icon-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 20px;
}
.icon-button img {
    width: 50px;
    height: auto;
}
.pagination{
    justify-content: center;
}
.pagination a{
    color: #000000;
}
.pagination li:hover a{
    color: white;
    background-color: #212529;
}

/* Single Product */
#single-product .small-img-group{
    display: flex;
    justify-content: space-between;
}
#single-product .small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
.size-btn{
    background-color: #212529;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    height: 35px;
    width: 35px;
}
.prod-btn{
    background-color: #212529;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    height: 50px;
    width: 200px;
}
#single-product h6{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
#single-product h3{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
#single-product h2{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

/* cart */
#cart h2{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
}
#cart .prod-info{
    display: flex;
    flex-wrap: wrap;
}
#cart th{
    text-align: left;
    padding: 5px 10px;
    color: white;
    background-color: #000000;
}
#cart td{
    padding: 10px 20px;
}
#cart td img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}
#cart td input{
    width: 45px;
    height: 30px;
    padding: 5px;
}
#cart td a{
    color: #000000;
}
#cart .remove-btn{
    color: #000000;
    text-decoration: none;
    font-size: 15px;
}
#cart .edit-btn{
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}
#cart .prod-info p{
    margin: 3px;
}
#cart .cart-total{
    display: flex;
    justify-content: flex-end;
}
#cart .cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #000000;
}
#cart td:last-child{
    text-align: right;
}
#cart th:last-child{
    text-align: right;
}
.checkout-container{
    display: flex;
    justify-content: flex-end;
}
.checkout-btn{
    background-color:#212529;
    color: white;
}

/* Login */
#login h2{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
}
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #000000;
}
#login-form input{
    width: 50%;
    margin: 5px auto;
}
#login-form #login-btn{
    background-color: #000000;
    color: white;
}
#login-form #register-url{
    color: #212529;
}

/* register */
#register h2{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
}
#register-form{
    width: 50%;
    margin: 5px auto;
    padding: 20px;
    border-top: 1px solid #000000;
}
#register-form input{
    width: 100%;
    margin: 5px auto;
}
#register-form #register-btn{
    background-color: #000000;
    color: white;
}
#register-form #login-url{
    justify-content: center;
    color: #212529;
}

/* Account */
#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}
#account-form input{
    margin: 5px auto;
}
#account-form #changepass-btn{
    background-color: #000000;
    color: white;
    width: 100%;
}
#account-form, #order-btn, #logout-btn{
    color: black;
    text-decoration: none;
}

/* Orders */
#orders h2{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
}
#orders table{
    width: 100%;
    border-collapse: collapse;
}
#orders .prod-info{
    display: flex;
    flex-wrap: wrap;
}
#orders th{
    text-align: left;
    padding: 5px 10px;
    color: white;
    background-color: #000000;
}
#orders td{
    padding: 10px 20px;
}
#orders td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

/* Checkout */
#checkout h2{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 50px;
}
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}
#checkout-form .checkout-large-element{
    width: 96%;
}
#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}
#checkout-form #checkout-btn{
    color: white;
    background-color: #000000;
    width: 50%;
}

/* Contact Us */
#contactus{
    width: 100%;
    height: 100vh;
    background-image: url("../imgs/bgfooter.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contactus .contact-content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-left: 50px;
}
#contactus .contact-info{
    color: white;
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 25px;
    margin-right: 20px;
}
#contactus .contact-info i{
    margin-right: 20px;
    font-size: 25px;
}
#contactus .contact-form{
    max-width: 700px;
    margin-right: 50px;
}
#contactus .contact-info .contact-form{
    flex: 1;
}
#contactus .contact-form h2{
    color: white;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
#contactus .contact-form .text-box{
    background: #000000;
    color: white;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
#contactus .contact-form .text-box:first-child{
    margin-right: 15px;
}
#contactus .contact-form textarea{
    background: #000000;
    color: white;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}